<a href="/forums/Stick-Figure-Clicker/123-this-is-a-thread" class="forum-item">
  <h2 class="thread-subject">{{threadSubject}}</h2>
  <h3 class="thread-author">{{threadAuthor}}</h3>
  <h3 class="thread-short-content">{{threadContent}}</h3>
  <h3 class="thread-comments">{{threadCommentCount}} comments</h3>
  <h3 class="thread-views">{{threadViewCount}} views</h3>
</a>
