<a href="/forums/Stick-Figure-Clicker/123-this-is-a-thread" class="forum-item">
  <h2 class="thread-subject">{{shortSubject}}</h2>
  <h3 class="thread-author">By {{shortAuthor}}</h3>
  <h3 class="thread-short-content">{{shortContent}}</h3>
  <h3 class="thread-comments">{{commentCount}} comments</h3>
  <h3 class="thread-views">{{viewCount}} views</h3>
</a>
