<div class="forum-item" id="threadPost">
  <h2 class="thread-subject">{{shortSubject}}</h2>
  <h3 class="thread-author">By {{shortAuthor}}</h3>
  <h3 class="thread-comments">{{commentCount}} comments</h3>
  <h3 class="thread-views">{{viewCount}} views</h3>
  <h3 class="thread-text">{{content}}</h3>
  <button type="button" class="reply-button button" id="replyButton"><img class="reply-button-img" src="/img/replybutton.png">Reply</button>
</div>
